<table class="table table-borderless">
  <tbody style="border: none;">
    <tr>
      <td><p>Economic Sector</p>
         <p>Commercial contractor</p></td>
      <td><p>Penalty rate</p>
        <p style="color: #F76B00;">From 11.05% to 10.05%</p></td>

    </tr>
    <tr>
      <td><p>Economic Sector</p>
        <p>Commercial contractor</p></td>
     <td><p>Penalty rate</p>
       <p style="color: #F76B00;">From 11.05% to 10.05%</p></td>
    </tr>
    <tr>
      <td><p>Economic Sector</p>
        <p>Commercial contractor</p></td>
     <td><p>Penalty rate</p>
       <p style="color: #F76B00;">From 11.05% to 10.05%</p></td>
    </tr>
  </tbody>
</table>
