
<mat-tab-group animationDuration="0ms" >
  <mat-tab label="Facilities">
    <table class="table table-bordered">
    <thead>
      <tr>
        <td scope="col" class="table-active">FACILITY</td>
        <td scope="col" class="table-active">CURRENT LIMIT</td>
        <td scope="col" class="table-active">UTLIZED BALANCE</td>
        <td scope="col" class="table-active">PROPOSED LIMIT</td>
        <td scope="col" class="table-active">CHANGE</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="loan">Medium & Long Term Loan</p><i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
          </i>
        <p class="interest">USD - 10.5% Interest</p></td>
        <td>Otto</td>
        <td>20000</td>
        <td>343000</td>
        <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i> <i class="fas fa-link mr-3" placement="left" [ngbPopover]="popOver"></i></td>
      </tr>

      <tr>
        <td><p class="loan">Medium & Long Term Loan</p><i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
        </i> <p class="interest">USD - 10.5% Interest</p></td>
        <td>Thornton</td>
        <td>280000</td>
        <td>20000</td>
        <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i></td>
      </tr>
      <tr>

        <td><p class="loan">Credit Card Request</p> <i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
        </i> <p class="interest">USD - 10.5% Interest</p></td>
        <td>John</td>
        <td>122000</td>
        <td>150900</td>
        <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i></td>
      </tr>

    </tbody>

    <tfoot>
      <tr>
        <td> <i class="fas fa-arrow-down"   data-toggle="collapse" href="#collapseExample"></i> TOTAL DIRECT</td>
        <td>$180</td>
        <td>$180</td>
        <td>$180</td>
        <td></td>
      </tr>
      <tr class="collapse" id="collapseExample">
        <td>TOTAL INDIRECT</td>
        <td>$180</td>
        <td>$180</td>
        <td>$180</td>
        <td></td>
      </tr>
      <tr>
        <td>TOTAL PSE</td>
        <td>$180</td>
        <td>$180</td>
        <td>$180</td>
        <td></td>
      </tr>
      <tr style="font-weight: bold;">
        <td >Total</td>
        <td>$180</td>
        <td>$180</td>
        <td>$180</td>
        <td></td>
      </tr>
      <tr >
        <td>TOTAL PSE</td>
        <td>$180</td>
        <td><i class="far fa-user-circle"></i></td>
        <td><i class="fa fa-user"></i></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  </mat-tab>
  <mat-tab label="Securities">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td scope="col" class="table-active">FACILITY</td>
          <td scope="col" class="table-active">CURRENT LIMIT</td>
          <td scope="col" class="table-active">UTLIZED BALANCE</td>
          <td scope="col" class="table-active">PROPOSED LIMIT</td>
          <td scope="col" class="table-active">CHANGE</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="loan">Medium & Long Term Loan</p><i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
            </i>
          <p class="interest">USD - 10.5% Interest</p></td>
          <td>Otto</td>
          <td>20000</td>
          <td>343000</td>
          <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i> <i class="fas fa-link mr-3" placement="left" [ngbPopover]="popOver"></i></td>
        </tr>

        <tr>
          <td><p class="loan">Medium & Long Term Loan</p><i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
          </i> <p class="interest">USD - 10.5% Interest</p></td>
          <td>Thornton</td>
          <td>280000</td>
          <td>20000</td>
          <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i></td>
        </tr>
        <tr>

          <td><p class="loan">Credit Card Request</p> <i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
          </i> <p class="interest">USD - 10.5% Interest</p></td>
          <td>John</td>
          <td>122000</td>
          <td>150900</td>
          <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i></td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="Covenants">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td scope="col" class="table-active">FACILITY</td>
          <td scope="col" class="table-active">CURRENT LIMIT</td>
          <td scope="col" class="table-active">UTLIZED BALANCE</td>
          <td scope="col" class="table-active">PROPOSED LIMIT</td>
          <td scope="col" class="table-active">CHANGE</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="loan">Medium & Long Term Loan</p><i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
            </i>
          <p class="interest">USD - 10.5% Interest</p></td>
          <td>Otto</td>
          <td>20000</td>
          <td>343000</td>
          <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i> <i class="fas fa-link mr-3" placement="left" [ngbPopover]="popOver"></i></td>
        </tr>

        <tr>
          <td><p class="loan">Medium & Long Term Loan</p><i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
          </i> <p class="interest">USD - 10.5% Interest</p></td>
          <td>Thornton</td>
          <td>280000</td>
          <td>20000</td>
          <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i></td>
        </tr>
        <tr>

          <td><p class="loan">Credit Card Request</p> <i  matBadge="&#8288;" matBadgeColor="warn" class="fas fa-bars" placement="bottom" [ngbPopover]="popOver">
          </i> <p class="interest">USD - 10.5% Interest</p></td>
          <td>John</td>
          <td>122000</td>
          <td>150900</td>
          <td><i class="fas fa-ellipsis-h" placement="left" [ngbPopover]="popOver"></i></td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>


<ng-template #popOver>
<app-popover ></app-popover>
</ng-template>


