<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip class="chip"  *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
      <span style="margin-right: -5px;"> {{fruit.name}};</span>
      <mat-icon class="mat-icon" matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>


